.todo {
    width: max(80%, 400px);
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 날짜 표시 */
.date {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    display: block;
}

.todo__form {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}

.todo__input {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    flex: 1;
}

.todo__button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

.todo__button--add {
    background-color: #4984e4;
}

.todo__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo__check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #999;
}

.todo__label {
    margin: 0 10px;
    flex: 1;
}

.todo__input--edit {
    flex: 1;
}

.todo__button--edit,
.todo__button--delete {
    font-size: 0.8rem;
    margin-left: 10px;
}

.todo__item--complete .todo__label {
    text-decoration: line-through;
    color: #999;
}